.vs
DiscordQ/DiscordQ/bin
DiscordQ/DiscordQ/obj
DiscordQ/DiscordQ.Android/bin
DiscordQ/DiscordQ.Android/obj
DiscordQ/DiscordQ.iOS/obj
DiscordQ.Comet/DiscordQ.Comet/bin
DiscordQ.Comet/DiscordQ.Comet/obj
